* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

:root {
    --outline-color: red;
}

body {
    background-color: black;
    color: seashell;
    font-family: Helvetica;
    opacity: 0.9;
}

.nav {
    outline: var( --outline-color) 2px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    height: 69px;
    border-bottom: 1px solid seashell;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav__box__logo__img {
    outline: var( --outline-color) 2px solid;
    height: 50px;
    margin-left: 10px;
}


.nav__box__menu {
    justify-self: flex-end;
    margin-left: auto;
}

.nav__box__menu__items{
    outline: var( --outline-color) 2px solid;
    display: flex;
    list-style-type: none;
}
.nav__box__menu__items__item a {
    padding: 13px;
    font-size: 22px;
    color: seashell;
}

.container {
    outline: var( --outline-color) 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__box__mission {
    outline: var( --outline-color) 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
    height: 700px;
    overflow: hidden;
}

.container__box__mission__background {
    outline: var( --outline-color) 2px solid;
    opacity: 0.7;
}

.container__box__mission__text {
    outline: var( --outline-color) 2px solid;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    position: absolute;
    color: seashell;
    background-color: black;
    width: 1200px;
    line-height: 50px;
}